<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Restaurant Form</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      text-align: center;
    }

    h1 {
      text-align: center;
    }

    form {
      max-width: 400px;
      margin: 0 auto;
    }

    input[type="text"],
    input[type="submit"] {
      display: block;
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
    }

    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #45a049;
    }

    .gradient-button {
      display: inline-block;
      padding: 15px 30px ;
      font-size: 18px;
      color: white;
      background-image: linear-gradient(135deg, #009688, #00BCD4);
      border: none;
      border-radius: 30px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-decoration: none;
      transition: background-image 0.2s;
    }
   
    .gradient-button:hover {
      background-image: linear-gradient(135deg, #00BCD4,#009688);
    }

  </style>
</head>

<body>
  <h1>Restaurant Form</h1>
  <form id="restaurantForm">
    <input type="text" name="name" placeholder="Name" required>
    <input type="text" name="city" placeholder="City" required>
    <input type="text" name="restaurant" placeholder="Restaurant" required>
    <input type="text" name="favoriteDish" placeholder="Favorite Dish" required>
    <input type="submit" value="Submit">
  </form>

  <a href="edit" target="_blank" class="gradient-button">Update Data</a>

  <a href="search" target="_blank" class="gradient-button">Search Data</a>

  <script>
    const form = document.getElementById('restaurantForm');

    form.addEventListener('submit', (e) => {

      e.preventDefault()
      const formData = new FormData(form)
      const requestData = Object.fromEntries(formData.entries())

      fetch('/users/submit', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(requestData),
      })
        .then((response) => {
          if (response.ok) {
            alert('Data Submitted successfully!')
            form.reset()
          } else {
            alert('An error occurred while submitting the form.')
          }
        })
        .catch((error) => {
          alert('An error occurred Overall.')
        })
    })

  </script>
</body>

</html>