<!DOCTYPE html>
<html>
<head>
    <title>Recommendation App</title>
    <style>
        .heading {
            background-color: #41A3b3;
            color: #fff;
            padding: 20px;
            text-align: center;
            font-size: 24px;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 18px;
            text-align: center;
            background-color: #4CAF50;
            color: #fff;
            text-decoration: none;
            margin: 10px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="heading">
        <h1>Welcome to Recommendation App</h1>
    </div>
    <div style="text-align: center;">
        <br>
        <br>
        <a class="button" href="/login">Log In</a>
        <a class="button" href="/signup">Sign Up</a>
    </div>
</body>
</html>