<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Restaurant Form</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        padding: 20px;
        text-align: center;
      }

      h1 {
        text-align: center;
      }

      form {
        max-width: 400px;
        margin: 0 auto;
      }

      input[type="text"], input[type="submit"] {
        display: block;
        width: 100%;
        padding: 15px;
        margin-bottom: 10px;
      }

      input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
        margin-left : 20px;
      }

      input[type="submit"]:hover {
        background-color: #45a049;
      }
    </style>
  </head>
  <body>
    <h1>Please Enter the OTP</h1>
    <form id="otpForm">
      <input type="text" name="email" placeholder="otp" required>
      <input type="text" name="otp" placeholder="OTP" required>
      <input type="submit" value="Submit">
    </form>

    <script>
      const form = document.getElementById('otpForm');

      form.addEventListener('submit', (e) => {

        e.preventDefault()
        const formData = new FormData(form)
        const requestData = Object.fromEntries(formData.entries())
        
        fetch('/verifyOTP', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(requestData),
        })
          .then((response) => {
            if (response.ok) {
              alert('OTP Verified!')
              location.href="/users/submit"
            } else {
              alert('Incorrect OTP')
            }
          })
          .catch((error) => {
            alert('Internal Error')
          })
      })
      
    </script>
  </body>
</html>